fastapi
uvicorn[standard]
python-dotenv
requests
tavily-python
google-genai
langchain-huggingface
langchain-chroma
langchain-community
langchain-text-splitters
sentence-transformers
langgraph
pypdf
deepeval
datasets
google-generativeai